@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@300&display=swap');
.box{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.color-box{
    width: 25%;
    height: 100%;
}
#police{
    font-family: 'Lexend Mega', sans-serif;
}